body{
    margin:0;
    padding: 0;
    min-width: 320px;
    max-width:1250px;
    font-family: 'Courier New', Courier, monospace;
    background-color:white;
    max-height:1350px;
}

main{
    margin:0;
    padding: 0;
    margin-right:0;
    margin-left: 0;
    min-width:200px;
    max-width:1250px;}

.banner{
margin:0;
padding: 0;
max-width:1580px ;
min-width:340px;
height: 600px;
margin-top:-100px;
margin-left:0;
background-image:url('img/bg-3.jpg');
background-size: cover;
background-position:right center;
font-size: 30px;
color: white;
font-size: 35px;
}

.banner h1{
    min-width:320px;
    max-width:1250px;
    margin-top: 100px;
    padding:20;
    text-shadow: 2px 4px 4px black;
}

h1{
    min-width:30px;
    max-width: 30px;
}

h4{
    margin-left:0px;
    font-size: 40px;
    text-shadow: 2px 2px px black;
    color:brown;
    
}

.nav1 li{
    
    min-width:100px;
    max-width: 200px;
    height:20px;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace ;
    display: inline-block;  
    margin-left:30px; 
    position:relative;
    border-right:1px solid #c0c0c0;
 

   

}

.nav-redes-sociais li{
min-width:1px;
max-width: 20px;
height: 4px;
font-size: 30px;
margin-top: 800px;
font-family:'Courier New', Courier, monospace ;
display: inline-block;  
margin-left:80px; 
position:relative;
border-right:1px solid #c0c0c0;


}


a:link{
    text-decoration: none;
    font-style:oblique;
    font-size: 20px;
    min-width:10px;
    display:inline-block;
    margin-left:3px;
   
   
}

.hero-content {
 margin:0;
 padding: 0;
 margin-top: 100px;
 margin-left: 50px;
 margin-right: auto;
 min-width:220px;
 max-width:1250px ;
 height: 300px;
 text-align: center;
background-color: cornsilk;
}

.hero-content h1{
    min-width:320px;
    max-width: 1250px;
    margin-top: 400px;
    padding:40px;
    text-shadow: 2px 4px 4px black;
    
}

li{
margin-top: 30px;
list-style-type: none;


}

.hero-final{
    margin: 0;
    padding: 0;
    margin-left: 290px;
    padding: 20px ;
    font-size: 25px;
    text-align: justify;
    max-width: 700px;
    min-width:320px;
    height: 300px;
    


}

.rodape{
    margin-bottom:0px;
    width:auto;
    height: 40px;
    margin-top:auto;
    background-color:rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: auto;
    margin-left: 0px;
}

